<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript"></script>
</head>

<body>
    <div id="mydiv" align="center">
        <h>我是登录页面</h>

        <form id="myform" action="loginAction">
            用户名:<input type="text" name="username" /><br />
            密码:<input type="text" name="password" /><br />
            <input type="submit" value="提交" />
        </form>

        <h th:text="${msg}" style="color:red"></h>

    </div>

</body>

</html>